<% layout('layouts/admin_layout') %>
<% include ../../component_assets/datatables %>

        <div class="row">
                    <div class="col-sm-6">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>Category Lists</b></h4>
                            
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Category Name</th>
                                    <th>Icon</th>
                                    <th>Stores</th>
                                    <th></th>
                                   
                                </tr>
                                </thead>
                                <tbody>
                                    <% data.map((c, i)=>{ %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= c.catName %></td>
                                            <td><i class="<%= c.icon %>"></i></td>
                                            <td><%= c.stores %></td>
                                            <td>
                                                <a href="/dashboard/category/<%= c._id %>"><i class="fa fa-edit"></i></a>
                                                <a href="/dashboard/category/destroy/<%= c._id %>"><i class="mdi mdi-delete"></i></a>
                                                </td>
                                            
                                        </tr>
                                    <% })%>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card-box table-responsive">
                        <form role="form" method="POST" action="/dashboard/category">
                            <% if(errors.length > 0 || success_msg.length > 0) { %>

                            <div class="alert alert-icon alert-<%= (errors.length > 0 ? 'danger' : 'success') %>  alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="mdi mdi-block-helper"></i>
                                <%= (errors.length > 0 ? errors : success_msg) %>
                            </div>
                            <% }else{
                                success_msg
                            } %>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Category Name</label>
                                <input type="hidden" name="id" value="<%= (cat ? cat._id : '') %>">
                                <input type="text" class="form-control" name="catName" value="<%= (cat ? cat.catName : '')  %>" id="exampleInputEmail1" placeholder="Enter Store Name">
                                <br>
                                <label for="exampleInputEmail1">Icon Code</label>
                                <input type="text" class="form-control" name="icon" value="<%= (cat ? cat.icon : '')  %>" id="exampleInputEmail1" placeholder="Enter Icon Code">
                                <br>    
                              
                                * For all icon code information looks at  <a href="http://fontawesome.io/icons/">Font Awesome</a>
                                <br>
                                * Visit it and copy-paste the code u want.
                            </div>
                           
                         
                            <button type="submit" class="btn btn-success waves-effect waves-light"><%= (!cat ? 'Submit': 'Update') %></button>
                        </form>
                    </div>
                    </div>
                </div>