<% layout('layouts/admin_layout') %>
<% include ../../component_assets/form %>
<% include ../../component_assets/datepicker %>

<div class="col-md-12">
    <div class="card-box">
        <h4 class="header-title m-t-0">Fill in the Form</h4>
       <% include ../../errors/error_message %>
        <form role="form" method="POST" action="/dashboard/coupon">
        <input type="hidden" name="url_name" value="<%= url_name ? url_name : coupon.store.url %>">
        <input type="hidden" name="coupon_id" value="<%= coupon ? coupon._id : '' %>">
            <br/>
           
            <div class="text-">
                <button type="submit" class="btn btn-success waves-effect waves-light"><%= (coupon ? 'Update': 'Submit') %></button>
                <a href="/dashboard/store/info/<%= url_name ? url_name : coupon.store.url %>"> <button type="button" class="btn btn-default waves-effect waves-light">Back</button></a>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="p-20">
                        <div class="form-group m-b-20">
                            <label for="propertyname">Coupon Title</label>
                         
                            <input type="text" class="form-control" value="<%= coupon ? coupon.title : '' %><%= (props.length > 0 ? props[0].title :'') %>" name="title" id="propertyname" placeholder="Enter coupon title">
                        </div>
                        <div class="form-group m-b-20">
                            <label for="property-location">Description</label>
                            <textarea class="form-control" id="property-desc" name="description" rows="5"><%= coupon ? coupon.description : '' %><%= (props.length > 0 ? props[0].description : '') %></textarea>
                            
                        </div>
                        <div class="form-group m-b-20">
                            <label for="property-desc">Offer Type</label>
                            <select name="offer_type" class="form-control">
                                <% offerTypes.map(offer =>{ %>
                                <option value="<%= offer %>" <%= coupon && coupon.offer.type == offer ? 'selected' : '' %> <%= (props.length > 0 ? props[0].offer_type == offer ? 'selected' : '' : '')%>><%= offer %></option>    
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group m-b-20">
                            <label for="property-desc">Offer Link</label>
                            <input type="text" class="form-control" value="<%= coupon && coupon.offer.link ? coupon.offer.link : '' %><%= (props.length > 0 ? props[0].offer_link : '') %>" name="offer_link" id="property-location" placeholder="Enter Offer Link">
                        </div>
                        <div class="form-group m-b-20">
                            <label for="property-desc">Label Coupon</label>
                            <select name="labelCoupon" class="form-control">
                                <% labelCoupon.map(label=>{ %>
                                <option value="<%= label %>" <%= coupon && coupon.labelCoupon == label ? 'selected' : '' %> <%= (props.length > 0 ? props[0].labelCoupon == label ? 'selected' : '' : '')%>><%= label %></option>    
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group m-b-20">
                            <label for="property-desc">Coupon Code</label>
                            <input type="text" class="form-control" value="<%= coupon ? coupon.code : '' %><%= (props.length > 0 ? props[0].code : '') %>" name="code" id="property-location" placeholder="Enter Coupon Code">
                        </div>
                        
                        
                        
                       
                    </div>
                    <!-- end class p-20 -->

                </div> <!-- end col -->

                <div class="col-md-6">
                    <div class="p-20">
                        <label>How much Discount ?</label>
                        <div class="input-group m-t-10">
                                <input type="text" class="form-control" value="<%= coupon ? coupon.discount : '' %><%= (props.length > 0 ? props[0].discount : '') %>" name="discount" placeholder="Discount from 10 to 100%" />
                                <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                        
                        </div>
                        <br>
                        <div class="form-group m-b-20">
                            <label for="property-location">Verified Status</label>
                            <div class="input-group" id="inii">
                            <div class="btn-switch btn-switch-success">
                                                <input type="checkbox" id="input-btn-switch-success" name="verified" <%= (coupon ? (coupon.verified == 'on' ? 'checked' : '') : '') %>/>
                                                
                                                <label for="input-btn-switch-success"
                                                       class="btn btn-rounded btn-success waves-effect waves-light">
                                                    <em class="glyphicon glyphicon-ok"></em>
                                                    <strong> Verified</strong>
                                                </label>
                                            </div>
                           
        
                            </div>
                            <br>
                            * Verfied Status default : <i>Not Verified</i>
                        </div>
                        
                       


                        <div class="form-group m-b-20">
                            <label for="property-location">Expired Date</label>
                            <div class="input-daterange input-group" id="date-range">
                                <input type="text" class="form-control" name="startDate" value="<%= coupon ? dateFormat(coupon.startDate,'mm/dd/yyyy') : '' %><%= (props.length > 0 ? props[0].startDate : '') %>" placeholder="Start Date" />
                                <span class="input-group-addon bg-custom text-white b-0">to</span>
                                <input type="text" class="form-control" name="expiredDate" value="<%= coupon ? dateFormat(coupon.expiredDate, 'mm/dd/yyyy') : '' %><%= (props.length > 0 ? props[0].expiredDate : '') %>" placeholder="Expired Date" />
                            </div>
                        </div>
                        <div class="form-group m-b-20">
                            <label for="property-location">Tags</label>
                           
                            <select name="tags" class="multi-select"  multiple="multiple" id="my_multi_select3" >
                             
                             <%
                             
                              tags.map((t,i)=>{
                                  var selected = undefined;
                                  if(props.length > 0 && props[0].tags instanceof Array){
                                      props[0].tags.map(p=>{
                                          if(p == t.tagName){
                                            selected = true;
                                          }
                                      })
        
                                  }else if(coupon){
                                      coupon.tags.map(c=>{
                                           if(c == t.tagName){
                                               selected = true;
                                           }
                                      });
                                     
                                  }
                                 %>
                             <option <%= (selected ? 'selected': '') %><%= (props.length > 0 ? (props[0].tags == t.tagName ? 'selected' : '') : '' ) %>  value="<%= t.tagName %>"><%= t.tagName %> </option>
                            <%  
                        
                            })%>
                                                
                            </select>
                        </div>

                        
                        
                       
                    
                    </div>
                    <!-- end class p-20 -->
                </div> <!-- end col -->

            </div> <!-- end row -->

         
        </form>
        <!-- end form -->

    </div> <!-- end card-box -->
</div>
