<% layout('layouts/admin_layout') %>

 <div class="row">

     <% stores.map((s)=>{ %>
        <a href="/dashboard/store/info/<%= s.url_name %>">
            <div class="col-md-2">
                <div class="text-center card-box" >
                    <div class="member-card" >
                        <div class="thumb-xl member-thumb m-b-10 center-block">
                            <img src="<%= s.photo %>" class="img-rounded img-responsive" width="200" alt="profile-image">
                        </div>
                        <div class="">
                        <h4 class="m-b-5"><%= s.name %></h4>
                        </div>

                        <p class="text-muted font-13">
                            <%= s.description %>
                        </p>
                    </div>
                </div>
            </div>
        </a>
     <% }) %>
                    
                    
 </div> 