<% layout('layouts/admin_layout') %>
<% include ../../component_assets/datatables %>

<div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>Trending Coupon Lists</b></h4>
                            <p class="text-muted font-13 m-b-30">
                                All trending Coupons are listed here.
                            </p>

                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Coupon</th>
                                    <th>Store</th>
                                    <th>Status</th>
                                    <th></th>
                                  
                                   
                                </tr>
                                </thead>


                                <tbody>
                                <% coupons.map((c, i)=>{ %>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><a href="/dashboard/store/info/<%= c.store.url %>"> <%= c.title %></a></td>
                                        <td><a href="/dashboard/store/info/<%= c.store.url %>"><%= c.store.name %></a></td>
                                        <td style="color:<%= c.expiredStatus === true ? 'red': 'green' %>;"><%= c.expiredStatus === true ? 'Expired' : 'Valid'  %></td>
                                        <td><button class="btn btn-danger distren" data-value="<%= c._id %>"><i class="fa fa-star-o"></i> Distrend</button></td>
                                    
                                    </tr>
                               <% }); %>
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <script>
                $(document).ready(function(){
                    
                    $('.distren').click(function(){
                       var id = $(this).attr('data-value');

                       var action = function(){
                           var data = {
                               id: id,
                               trending: false
                           }

                          $.get('/dashboard/coupon/view/trending/update',data, function(callback){
                              if(callback.success){

                                  location.reload();
                              }
                          });
                       }
                        infoDialog('question', 'Yakin Mau di hilangkan dari trend?', action);
                     

                        return false;
                    })
                })
                   
                </script>