
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <title>Zircos - Responsive Admin Dashboard Template</title>
    <% include partials/css_files %>
</head>
<body>
<!-- Navigation Bar-->
<header id="topnav">
<% include partials/topnav %>
<% include partials/navbar %>
</header>
<!-- End Navigation Bar-->
<div class="wrapper">
    <div class="container">
        <!-- Page-Title -->
        <div class="row">
            <% include partials/breadcrumbs %>
            <%- body -%>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- Footer -->
        <% include partials/footer %>
        <!-- End Footer -->
    </div> <!-- end container -->
</div>
<!-- end wrapper -->
<% include partials/js_files %>
</body>
</html>