<%- block('style').append('<link href="/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>') %>

<%- block('script').append('<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>') %>
<%- block('script').append('<script src="/assets/plugins/datatables/dataTables.bootstrap.js"></script>') %>

<%- block('script').append('<script src="/assets/pages/jquery.datatables.init.js"></script>') %>
<%- block('script').append('<script src="/assets/js/datable_init.js"></script>') %>


        