<%- block('style').append('<link href="/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">') %>
<%- block('style').append('<link href="/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">') %>
<%- block('style').append('<link href="/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">') %>
<%- block('style').append('<link href="/assets/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">') %>
<%- block('style').append('<link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">') %>

	

<%- block('script').append('<script src="/assets/plugins/moment/moment.js"></script>') %>
<%- block('script').append('<script src="/assets/plugins/timepicker/bootstrap-timepicker.js"></script>') %>
<%- block('script').append('<script src="/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>') %>
<%- block('script').append('<script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>') %>
<%- block('script').append('<script src="/assets/plugins/clockpicker/js/bootstrap-clockpicker.min.js"></script>') %>
<%- block('script').append('<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>') %>

<%- block('script').append('<script src="/assets/pages/jquery.form-pickers.init.js"></script>') %>