<%- block('style').append('<link href="/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />') %>
<%- block('style').append(' <link href="/assets//plugins/multiselect/css/multi-select.css"  rel="stylesheet" type="text/css" />') %>
<%- block('style').append('<link href="/assets//plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />') %>
<%- block('style').append('<link href="/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />') %>
<%- block('style').append('<link href="/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />') %>


<%- block('script').append('<script src="/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>') %>
<%- block('script').append('<script type="text/javascript" src="/assets/plugins/multiselect/js/jquery.multi-select.js"></script>') %>
<%- block('script').append('<script type="text/javascript" src="/assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>') %>
<%- block('script').append('<script src="/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>') %>
<%- block('script').append('<script src="/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>') %>
<%- block('script').append('<script src="/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>') %>
<%- block('script').append('<script src="/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>') %>
<%- block('script').append('<script src="/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>') %>
<%- block('script').append('<script type="text/javascript" src="/assets/plugins/autocomplete/jquery.mockjax.js"></script>') %>
<%- block('script').append('<script type="text/javascript" src="/assets/plugins/autocomplete/jquery.autocomplete.min.js"></script>') %>
<%- block('script').append('<script type="text/javascript" src="/assets/plugins/autocomplete/countries.js"></script>') %>
<%- block('script').append('<script type="text/javascript" src="/assets/pages/jquery.autocomplete.init.js"></script>') %>
<%- block('script').append('<script type="text/javascript" src="/assets/pages/jquery.form-advanced.init.js"></script>') %>


        
        
        
        
        
        
        
        

        
        
        
        

        

 
       
        
        
        