<% layout('layouts/second_layout') %>
<div class="row">
    <div class="col-sm-12">

        <div class="wrapper-page">

            <div class="m-t-40 account-pages">
                <div class="text-center account--box">
                    <h2 class="">
                        <br>
                        <a href="index.html" class="text-success">
                         No Love No Shit !
                        </a>
                    </h2>
                    <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                </div>
                <div class="account-content">
                    <form class="form-horizontal" method="POST" action="/signin">
                        <% if(message.length > 0) { %>

                        <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-block-helper"></i>
                            <%= message %>
                        </div>
                        <% } %>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="email" name="email" required placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required name="password"  placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group account-btn text-center m-t-10">
                            <div class="col-xs-12">
                                <button class="btn w-md btn-bordered btn-danger waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>

                    </form>


                    <div class="clearfix"></div>

                </div>
            </div>


        </div>
        <!-- end wrapper -->

    </div>
</div>
