 <% if(errors.length > 0 || success_msg.length > 0) { %>

                            <div class="alert alert-icon alert-<%= (errors.length > 0 ? 'danger' : 'success') %>  alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="mdi <%= (errors.length > 0 ? 'mdi-block-helper' : 'mdi-check-all') %>"></i>
                                <% if(errors.length > 0){
                                    errors.map((e)=>{
                                        %>
                                        <ul>    
                                            <li><%= e.msg  %></li>
                                        </ul>
                                       
                                    <%
                                    });
                                }else{
                                    %>
                                        <%= success_msg %>
                                    <%
                                }
                                %> 
                            </div>
                            
                            <% } %>