<% layout('layouts/admin_layout') %>
<% include ../../component_assets/datatables %>

<div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>Recommended Store Lists</b></h4>
                            <p class="text-muted font-13 m-b-30">
                                All Recommended Stores are listed here.
                            </p>

                           

                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                  
                                    <th>No</th>
                                    <th>Store Name</th>
                                    <th> Status</th>
                       
                                </tr>
                                </thead>


                                <tbody>
                                <% stores.map((s, i)=>{ %>
                                   
                                    <tr>
                                       
                                        <td><%= i+1 %></td>
                                        <td><a href='/dashboard/store/info/<%= s.url_name %>'> <%= s.name %></a></td>
                                        <form action="/dashboard/store/recommended" method="POST">
                                        <input type="hidden" name="recommended" value="<%= s.recommended %>">
                                            <input type="hidden" name="id" value="<%= s._id %>">
                                        <td><button class="btn btn-<%= (s.recommended ? 'success' :'danger')%>"><i class="fa fa-thumbs-<%= (s.recommended ? 'up' :'down')%>"></i> </button></td>
                                        </form>
                                    
                                    </tr>
                               <% }); %>
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
