<% layout('layouts/admin_layout') %>
<% include ../../component_assets/datatables %>
<% include ../../component_assets/form %>

<div class="row">
            
                    <div class="col-sm-6">

                        <% include ../../errors/error_message %>

                        <div class="card-box table-responsive">
                        <form role="form" method="POST" action="/dashboard/store" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-success waves-effect waves-light"><%= (store ? 'Update': 'Submit') %></button>
                            <a href="/dashboard/store"><button type="button" class="btn btn-default waves-effect waves-light">Cancel</button></a>
                          <br>
                          <br>
                          
                        <input type="hidden" name="id" value="<%= (store ? store._id : '') %>">
                        <input type="hidden" name="public_id" value="<%= (store ? store.public_id : '') %>">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Store Name</label>
                                <input type="text" class="form-control" value="<%= (store ? store.name : '') %>" name="name" id="exampleInputEmail1" placeholder="Enter Store Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Store Description</label>
                                <textarea name="description" class="form-control" id="" cols="30" rows="10"><%= (store ? store.description : '' ) %></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Category</label>
                                
                                                <select name="category" class="form-control select2">
                                                    <option value="">-- Select Category --</option>
                                                    <% category.map(c=>{ 
                                                       
                                                        %>
                                                       
                                                        <option <%= (store ? (store.category.toString() == c._id.toString() ? 'selected' : '') : '') %>  value="<%= c._id %>"><%= c.catName %></option>
                                                        <%
                                                    }) %>
                                                </select>
                                           
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Website</label>
                                <input type="text" name="link.website" class="form-control" value="<%= (store ? store.link.website : '') %>" name="name" id="exampleInputEmail1" placeholder="Enter Website Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Affiliate Link</label>
                                <input type="text" name="link.affiliate" class="form-control" value="<%= (store ? store.link.affiliate : '') %>" name="name" id="exampleInputEmail1" placeholder="Enter Affiliate Link">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Photo</label>
                                   
                                <input type="file" name="photo" class="form-control filestyle" data-buttonname="btn-primary"  />
                                <br>
                                <% if(store){ %>
                                <img src="<%= store.photo %>" alt="image" class="img-responsive img-rounded" width="200"/>
                                <% } %>
                            </div>
                         
                           
                        </form>
                    </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>Store</b></h4>
                        
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Store Name</th>
                                    <th>Recommended</th>
                                    <th></th>
                                   
                                </tr>
                                </thead>


                                <tbody>
                                    <% stores.map((s,i)=>{
                                        %>
                                        <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= s.name %></td>
                                    <td><%= s.recommended %></td>
                                    <td>
                                        <a href="/dashboard/store/<%= s._id %>"><i class="fa fa-edit"></i></a>
                                        <a href="/dashboard/store/destroy/<%= s._id %>"><i class="mdi mdi-delete"></i></a>
                                    </td>
                                    
                                </tr>
                                        <%
                                    });
                                    %>
                                
                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>