<% layout('layouts/admin_layout') %>
<div class="col-sm-12">
    <div class="card-box">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center card-box">
                    <div class="member-card">
                        <div class="thumb-xl member-thumb m-b-10 center-block">
                            <img src="<%= store.photo %>" class="img-rounded img-responsive" alt="profile-image">
                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                        </div>

                        <div class="">
                            <h4 class="m-b-2"><%= store.name %></h4>
                            <p>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <span>(29)</span>
                            </p>
                        </div>

                        <a href="/dashboard/coupon/form/<%= store.url_name %>"><button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Add New Coupon</button></a>
                        

                        <p class="text-muted font-13 m-t-20">
                           <%= store.description %>
                        </p>

                        <hr/>

                        

                    </div> <!-- end member-card -->

                </div> <!-- end card-box -->

               

            </div> <!-- end col -->

            <div class="col-md-8 col-lg-9">
                <h4 class="m-t-0 text-uppercase">Listed Coupons</h4>
                <div class="border m-b-30"></div>

                <div class="row">
                    <% 
                    if(coupons.length > 0 ){
                    
                    coupons.map((c,i)=>{ %>
                        <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="property-card">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h5 class="text-success m-t-0"><%= c.title %></h5>
                                    </div>
                                    <div class="">
                                        <h3 class="text-overflow"><a href="#" class="text-dark">#<%= c.code %></a></h3>
                                        <p class="text-muted text-overflow"><%= c.description %></p>
                                        
                                       
                                        <b>Status: </b> <i style="color:<%= c.expiredStatus === true ? 'red' : 'green' %>;"><%= c.expiredStatus === true ? 'Expired' : 'Valid' %></i>
                                        <div class="m-t-20">
                                            <div style="display: inline-block;">
                                            <form class="" action="/dashboard/coupon/update/trending" method="POST">
                                                <input type="hidden" name="id" value="<%= c._id %>">
                                                <input type="hidden" name="url_name" value="<%= c.store.url %>">
                                                <input type="hidden" name="trending" value="<%= (c.trending ? false : true ) %>">
                                                <button type="submit" class="btn btn-<%= (c.trending ? 'pink': 'default') %>  waves-effect waves-light"><i class="fa fa-star<%= (c.trending ? '': '-o') %>"></i>  </button>
                                            </form>
                                            </div>
                                            <div style="display: inline-block;">
                                                <a href="/dashboard/coupon/edit/<%= c._id %>"><button type="button" class="btn btn-info waves-effect waves-light"><i class="fa fa-edit"></i> </button></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                            <!-- /inner row -->
                        </div>
                        <!-- End property item -->
                    </div>
                    <% }) 
                        
                    }else{ %>
                       No Coupons is Found.
                    <% }%>
                   
                </div> <!--end row -->


                <div class="text-right">
                    <ul class="pagination pagination-split m-t-0">
                        <li class="disabled">
                                <a href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                        <% 
                          
                            for(var i=0; i<pages; i++){
                                if(i===0){
                            %>
                            <li class="<%= (page == undefined ? 'active':'') %>">
                                <a href="/dashboard/store/info/<%= url_name %>"><%= i+1 %></a>
                            </li>
                            <%
                                }else{
                                    %>
                            <li class="<%= (page == i ? 'active' : '') %>">
                                <a href="/dashboard/store/info/<%= url_name %>/page/<%= i %>"><%= i+1 %></a>
                            </li>
                            
                       <%
                                }      
                            }
                        
                         %>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </li>
                        
                        
                    </ul>
                </div>

            </div>
            <!-- end col -->

        </div>
    </div>
</div>
