<div class="col-sm-12">
    <div class="page-title-box">
        <div class="btn-group pull-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
               <%- breadcrumbs.breadLists %>
            </ol>
        </div>
        <h4 class="page-title"><%= breadcrumbs.title %></h4>
    </div>
</div>