<!-- App css -->

<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/pages.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/menu.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/assets/css/bootstrap-dialog.min.css" type="text/css">

<%- block('style') %>

<script src="/assets/js/html5shiv.js"></script>
<script src="/assets/js/respond.min.js"></script>
<script src="/assets/js/modernizr.min.js"></script>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap-dialog.min.js"></script>