<div class="navbar-custom">
    <div class="container">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="/dashboard"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>
                    
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-book-open-page-variant"></i> Coupons</a>
                    <ul class="submenu">
                        <li>
                            <a href="/dashboard/coupon"><i class="mdi mdi-book-open-page-variant"></i> Coupon Lists</a>
                        </li>
                        <li>
                            <a href="/dashboard/coupon/view/trending"><i class="fa fa-star-o"></i> Trending Coupons</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-book-open-page-variant"></i> Stores</a>
                    <ul class="submenu">
                        <li>
                            <a href="/dashboard/store"><i class="mdi mdi-home-map-marker"></i>Store Lists</a>
                        </li>
                        <li>
                            <a href="/dashboard/store/view/recommended"><i class="fa fa-diamond"></i> Recommended Stores</a>
                        </li>
                    </ul>
                </li>
                
                <li class="has-submenu">
                    <a href="#"><i class="fa fa-book"></i> Master Data</a>
                    <ul class="submenu">
                        <li>
                            <a href="/dashboard/category"><i class="mdi mdi-book-multiple"></i> Category</a>
                        </li>
                        <li>
                            <a href="/dashboard/tag"><i class="mdi mdi-tag-multiple"></i> Tag</a>
                        </li>
                    </ul>
                </li>
               
                <% if(user.role === 'Admin'){%>
                <li class="has-submenu">
                    <a href="/dashboard/subscriber"><i class="fa fa-smile-o"></i> Subscriber</a>
                    
                </li>
                <li class="has-submenu">
                    <a href="/dashboard/admin"><i class="fa fa-user"></i>Admin</a>
                </li>
                
                <% } %>
                
            </ul>
            <!-- End navigation menu -->
        </div> <!-- end #navigation -->
    </div> <!-- end container -->
</div>