<div class="topbar-main">
    <div class="container">
        <!-- Logo container-->
        <div class="logo">
            <a href="index.html" class="logo">
                <img src="/assets/images/logo.png" alt="" height="30">
            </a>
        </div>
        <!-- End Logo container-->
        <div class="menu-extras">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="dropdown navbar-c-items">
                    <a href="" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown" aria-expanded="true"><img src="/assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                    <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                        <li class="text-center">
                            <h5>Hi, <%= user.fullname %></h5>
                        </li>
                        <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
                       
                        <li><a href="/logout"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                    </ul>

                </li>
            </ul>
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>
        <!-- end menu-extras -->
    </div> <!-- end container -->
</div>