<% layout('layouts/admin_layout') %>
<% include ../../component_assets/datatables %>

<div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>Subscriber Lists</b></h4>
                            <p class="text-muted font-13 m-b-30">
                                All Subscribers are listed here.
                            </p>

                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Email</th>
                                    <th>Country</th>
                                  
                                   
                                </tr>
                                </thead>


                                <tbody>
                                <% subscribers.map((s, i)=>{ %>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td> <%= s.email %></td>
                                        <td><%= s.geo.country ? s.geo.country : 'Undetected' %></td>
                                        
                                    
                                    </tr>
                               <% }); %>
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
