<% layout('layouts/admin_layout') %>
<% include ../../component_assets/datatables %>

        <div class="row">
                    <div class="col-sm-6">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>Tag Lists</b></h4>
                            
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tag Name</th>
                                    <th></th>
                                   
                                </tr>
                                </thead>
                                <tbody>
                                   <% tags.map((t, i)=>{ %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= t.tagName %></td>
                                            <td>
                                                <a href="/dashboard/tag/<%= t._id %>"><i class="fa fa-edit"></i></a>
                                                <a href="/dashboard/tag/destroy/<%= t._id %>"><i class="mdi mdi-delete"></i></a>
                                                </td>
                                            
                                        </tr>
                                    <% })%>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card-box table-responsive">
                        <form role="form" method="POST" action="/dashboard/tag">
                            <% if(errors.length > 0 || success_msg.length > 0) { %>

                            <div class="alert alert-icon alert-<%= (errors.length > 0 ? 'danger' : 'success') %>  alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="mdi mdi-block-helper"></i>
                                <%= (errors.length > 0 ? errors : success_msg) %>
                            </div>
                            <% }else{
                                success_msg
                            } %>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tag Name</label>
                               <input type="hidden" name="id" value="<%= (tag ? tag._id : '') %>">
                                <input type="text" class="form-control" name="tagName"  value="<%= (tag ? tag.tagName : '')  %>" id="exampleInputEmail1" placeholder="Enter Tag Name">
                            </div>
                           
                         
                            <button type="submit" class="btn btn-success waves-effect waves-light"><%= (!tag ? 'Submit': 'Update') %></button>
                        </form>
                    </div>
                    </div>
                </div>