<% layout('layouts/admin_layout') %>
<% include ../../component_assets/datatables %>

        <div class="row">
                    <div class="col-sm-6">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>Category Lists</b></h4>
                            
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Email </th>
                                    <th>Role</th>
                                   <th>Status</th>
                                    <th></th>
                                   
                                </tr>
                                </thead>
                                <tbody>
                                    <% admins.map((admin, i)=>{ %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= admin.email %></td>
                                            <td><%= admin.role %></td>
                                            <td style="color: <%= admin.status == true ? 'green' : 'red' %>;"><%= admin.status == true ? 'Active': 'Non-Active' %></td>
                                            <td><a href="/dashboard/admin/<%= admin._id %>"><i class="fa fa-edit"></i></a></td>
                                        </tr>
                                    <% })%>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card-box table-responsive">
                        <form role="form" method="POST" action="<%= admin ? '/dashboard/admin/update': '/dashboard/admin/signup' %>">
                             <% include ../../errors/error_message %>
                            <div class="form-group">
                               
                                
                                <label for="exampleInputEmail1">Email* </label>
                                <input type="hidden" name="id" value="<%= admin ? admin._id : '' %>" >
                                
                                <input type="email" 
                                       class="form-control <%= (validValue.length > 0 && !validValue[0].email ? 'parsley-error' : '')%>" 
                                       name="email" 
                                       value="<%= (validValue.length > 0 ? validValue[0].email : '') ||
                                                  (admin ? admin.email : '') %>"  
                                       <%= admin ? 'disabled' : '' %>           
                                       placeholder="Enter Email">
                                <br>
                                 <label for="exampleInputEmail1">Fullname </label>
                                <input type="text" 
                                       class="form-control" 
                                       name="fullname" 
                                       value="<%= (admin ? admin.fullname : '') %>"             
                                       placeholder="Enter Fullname">
                                <br>
                                <% if(!admin){ %>
                                   
                                <label for="exampleInputEmail1">Password*</label>
                                <input type="password" 
                                       class="form-control <%= (validValue.length > 0 && !validValue[0].password ? 'parsley-error' : '')%>" 
                                       name="password"
                                       value="<%= (validValue.length > 0 ? validValue[0].password : '') %>"
                                               
                                       id="exampleInputEmail1" 
                                       placeholder="Enter Password">
                                <br>  
                                <label for="exampleInputEmail1">Confirm Password*</label>
                                <input type="password" 
                                       class="form-control <%= (validValue.length > 0 && !validValue[0].confirmpassword ? 'parsley-error' : '')%>" 
                                       name="confirmpassword"
                                       value="<%= (validValue.length > 0 ? validValue[0].confirmpassword : '') %>" 
                                       id="exampleInputEmail1" 
                                       placeholder="Enter Confirmation Password">
                                <br> 
                              <% } %>
                                <label for="exampleInputEmail1">Role</label>
                                <select name="role" id="" class="form-control">
                                    <% role.map(r=>{ %>
                                        <option 
                                        <%= (validValue.length > 0 ? (validValue[0].role === r ? 'selected': '' ) : '' )
                                             ||
                                             (admin ? (admin.role == r ? 'selected' : '') : '' )%> 
                                        value="<%= r %>"><%= r%>
                                        </option>
                                    <%   }) %>
                                </select>
                                <% if(admin){ %>
                               
                                <br>
                                <label for="exampleInputEmail1">Status</label>
                                <select name="status" id="" class="form-control">
                                    
                                        <option value="false" <%= admin.status == false ? 'selected' : '' %>>Deactive</option>
                                        <option value="true" <%= admin.status == true ? 'selected': '' %>>Active</option>
                                   
                                </select>
                                <br>        
                                <% } %>
                              
                            </div>
                           
                         
                            <button type="submit" class="btn btn-success waves-effect waves-light"><%= admin ? 'Update' : 'Register' %></button>
                            <% if(admin){ %>
                                <a href="/dashboard/admin"><button type="button" class="btn btn-default">Cancel</button></a>
                           <% } %>
                        </form>
                    </div>
                    </div>
                </div>